@import 'reset.css';

@import 'header_footer.scss';


.free-const{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 30;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    display: flex;
justify-content: center;
align-items: center;
}
.content_free{
    position: relative;
    width: 790px;
    height: 540px;
    // background-color: green;
    display: flex;
    justify-content: space-between;
    padding: 60px;
    z-index: 40;

}
.img_content_const{
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
}
.free-const_text{
    position: relative;
    z-index: 32;
}

.const_text_form{
    button{
        position: relative;
    }
    max-width: 280px;
    text-align: center;
    p.free-con{
        color: #000000;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    display: flex;
    flex-direction: column;
    min-height: 400px;
    input{
        width: 277px;
        height: 40px;
        background-color: #ffffff;
        border-bottom: 2px solid green;
        margin-bottom: 50px;
        font-size: 20px;
        outline: none;
    }
    input::placeholder{
color: #7a7a7a;
font-size: 20px;
font-weight: bold;
padding: 5px;
padding-bottom: 15px;
    }
    button{
width: 277px;
height: 60px;
background-color: #36ab32;
cursor: pointer;
    }
    p.free-info{

color: #7a7a7a;
font-size: 12px;
font-weight: 300;
a{
    color: #7a7a7a;
    text-decoration: underline;
}

    }
}
.closed-krest{
    position: relative;
    z-index: 34;
    height: 30px;
    width: 30px;
    cursor: pointer;
    img{
        height: 30px;
        width: 30px;
    }

}

.wrapp-fixed{
    z-index: 29;
    position: fixed;
    top: 0;bottom: 0;right: 0;left: 0;
    // background-color: #fff;
}
// .const_text_form{
//     min-height: 540px;
// }

.wrapp-fixed_sm{
    z-index: 29;
    position: fixed;
    top: 0;bottom: 0;right: 0;left: 0;
}
.free-fixed_sm{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 30;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    display: flex;
justify-content: center;
align-items: center;
}
.fixed_sm_content{
    padding: 20px;
    .closed-krest{
        margin-left: auto;
    }
    position: relative;
    z-index: 45;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    
}



























.text-content{
    margin-right: auto;
}










.footer-cont{


        background-color: #fdfdfe;
        padding: 60px 0px;
}
.bottom_footer-cont{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}























.client_smoll{
    display: none;
}

*{
    box-sizing: border-box;
}
.text_style_block{
    color: #333333;
    font-family: 'Rubik', sans-serif;
    font-size: 36px;
    font-weight: 500;
    width: 100%;
}


body{
font-family: 'Roboto', sans-serif;

}


// -------------------------
.nav-bar_links{
    background: #fff;
    box-shadow: 0px 20px 20px #3333;
    border: none;
}

// --------------- header done---------
.wrapper_main-content{
    max-width: 1200px;
    min-width: 1200px;
}
.text-content{
    margin-right: auto;
}
.main-content{
    
    background-image: url(/images/bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    
    
    display: flex; justify-content: center; min-width: 1200px; overflow: hidden; }
// .image-content{ margin-right: -390px; }
.main-text{ margin-top: 171px; color: #333333; font-family: 'Rubik', sans-serif; font-size: 48px; font-weight: 500; max-width: 585px; margin-bottom: 56px; }
p.cool{ height: 30px; color: #333333; font-size: 18px; font-weight: 400; padding-left: 25px; border-left: 5px solid #cdeacc; display: flex; align-items: center; margin-bottom: 30px; }
a.btn-cool{ display: flex; justify-content: center; align-items: center; text-decoration: none; background-color: #36ab32; color: #ffffff; font-size: 18px; font-weight: 700; width: 278px; height: 60px; margin-top: 60px; margin-bottom: 240px; } .adrees-cont{ display: flex; height: 50px; align-items: center; } .adrees-cont p{ display: flex; align-items: center; width: 346px; margin-right: 73px; color: #7a7a7a; font-size: 18px; font-weight: 400; } .adrees-cont a{ text-decoration: none; } a.geo-link{ margin-right: 10px; } .soch-src a{ margin-right: 21px; }

// ----------------------
.text-content{
    position: relative;
    z-index: 2;
}
.main-text{
    margin-top: 171px;
    color: #333333;
    font-family: 'Rubik', sans-serif;
    font-size: 48px;
    font-weight: 500;
    max-width: 585px;
    margin-bottom: 56px;
}

p.cool{
    height: 30px;
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    padding-left: 25px;
    border-left: 5px solid #cdeacc;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
a.btn-cool{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #36ab32;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    width: 278px;
    height: 60px;
    margin-top: 60px;
    margin-bottom: 230px;
}


.adrees-cont{
    display: flex;
    min-height: 50px;
    align-items: center;
    width: 100%;
}
.adrees-cont p{
    display: flex;
    min-width:  346px;
    align-items: center;
    margin-right: 105px;
    color: #7a7a7a;
    font-size: 18px;
    font-weight: 400;
}

.adrees-cont a{
    text-decoration: none;

}
a.geo-link{
    margin-right: 10px;
}
.soch-src{
    width: 100%;
}
.soch-src a{
    height: 100%;
    width: 100%;
    margin-right: 8px;
}


// ---------------------- main cont is done

.advantage-content{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 135px;
}
.img-iff-wrap{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}
.img-krs{
    margin-left: -327px;
}
.advantage-content-text{
    position: relative;
    z-index: 2;

}
.points_line{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.advantage_point_content{
    max-width: 278px;
    min-height: 244px;
}
 .img_info{
    min-height: 70px;
    width: 278px;
    margin-bottom: 25px;
}

.inf_text{
    min-height: 56px;
    margin-bottom: 34px;
    color: #333333;
    font-size: 24px;
    font-weight: bold;
}
.content_text{
    color: #333333;
    font-size: 18px;
    font-weight: 400;
}
.advantage__text_line{
    max-width: 270px;
    margin-top: -4px;
}
.advantage__text {
    padding-top: 80px;
    margin-bottom: 102px;
    display: flex;
    flex-direction: column;
    position: relative;
}
// -----------------------


.service-content{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 135px;
}
.img-service{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.mr-auto{
margin-right: auto;
margin-left: 30px;
}

.img-serv{
}
.service-content-text{
    position: relative;
    font-weight: 500;
    z-index: 2;
}
.service__text{
    padding-top: 80px;
    margin-bottom: 102px;
    display: flex;
    flex-direction: column;
    position: relative;
    font-weight: 500;
}
.service__text span{
    display: flex;
    justify-content: space-between;
font-size: 36px;
font-weight: 500;
}
.service__text span p{
    color: #7a7a7a;
    max-width: 585px;
    font-size: 18px;
    font-weight: 400;
}

.service__text_line{
    width: 130px;
    margin-left: 82px;
}

.service_points_line{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.service_point_content{
    max-width: 278px;
    min-height: 244px;
}
.service .content_text{
    color: #000000;
    font-size: 18px;
    font-weight: 400;  
}
.content_text__link{
    color: #36ab32;
    font-weight: 400;
    text-decoration: underline;
    display: inline;
}

.service_point_content{
    max-width: 278px;
    min-height: 244px;
}









    .statui{
        padding: 115px 0;
        max-width: 1200px;
    margin: 0 auto;
    }












.dn{
    display: none;
}


.while{
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    position: absolute;
    z-index: 10;
}


@import 'footer.scss';

// @import 'slick.scss';

@import 'media.scss';
// @import 'animation.scss';
