.slider_cli_image {
    position: relative;
}
.advantage__points ,.service__points{
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
    padding: 5px;
}
.service_point_content {
    padding: 10px;
}
.advantage_point_content{
    padding: 5px;
}
.title_content{
max-width: 800px;
color: #ffffff;
font-size: 24px;
font-weight: 500;
display: flex;
justify-content: space-between;
padding: 15px 0px;
}
.content_acc{
max-width: 800px;
color: #ffffff;
font-size: 18px;
font-weight: bold;
}

@media screen and (max-width:1200px){
.client_smoll{
    .client_smoll .draggable {
        overflow: hidden;
        max-width: 330px;
        margin: 0 auto;
    }
    button {
        border: none;
        position: absolute;
        margin-bottom: 0px;
        width: 380px;
        height: 60px;
        background-color: #dadada;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        width: 60px;
        height: 60px;
    }
    .client_smoll{
    .slick-next{
        right: 1%;
        z-index: 3;
        bottom: 50%;
        margin-bottom: -30px;
    }
    .slick-prev{
        z-index: 3;
        left: 1%;
        bottom: 50%;
        margin-bottom: -30px;
    }}

}
    .client_smoll{
display: block;
    }
    .client{
        display: none;
    }
    .client_fam .text_content {
        width: 500px; 
        min-width: 300px; 
    }
.client_fam{
    display: flex;
    flex-direction: column;
}
.slick-list {
    overflow: hidden;
    width: 800px;
    height: 1000px;
}
.slick-track {
    // overflow: auto;
}

.points_line{
    flex-wrap: wrap;
    padding: 0 10px;
    justify-content: space-between;
    overflow: hidden;
}
.main-content{
    max-width: 1200px;
    overflow: hidden;
}
.client_slider  {
    display: flex;
    justify-content: center;
}
.text_content{
    text-align: center;
    .spels{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}
}


@media screen and (max-width:1025px){
    .nav-bar_links{
        box-shadow: none;
        border: none;
    }

    .address_header {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        left: 0; 
        background-color: #fff;
        z-index: 15;
    }
    .main-content{
        margin: 0;
    }
    .wrapper_main-content{
        min-width: auto;
        margin-right: auto;
    }
    .img_content{
        display: flex;
        align-items: center;
        width: 360px;
        height: 500px;  
    }
    .client_fam .text_content h2{
        margin-bottom: 10px;
    }
    .text_content p {
        max-width: 800px;
        text-align: left;
    }
    .slider__item {
        width: 800px!important;
        height: 600px!important;
    }
    .client_fam{
        min-width: 800px;
    }
    .adrees-cont{
        display: none;
    }
    .questions_content{
        flex-direction: column;
    }
    .accordion-title{
        font-size: 15px;
    }
    .form-content{
        display: flex;
        justify-content: center;
    }
    .main-content{
        max-width: 1024px;
        overflow: hidden;
        min-width: 0px;
    }
    .main-text {
        margin-top: 121px;
        color: #333;
        font-size: 38px;
        max-width: 485px;
    font-weight: 500;

    }
    $mr: -100px;
    .image-content{
        img{
            margin-left: $mr;
        }
    }
    .text-content{
        // margin-left: $mr;
        padding-left: 15px;
        margin-right: -40px;

    }
}
@media screen and (max-width:920px){
    .info-foot {
        margin-left: 0px;
    }
    .client_fam .text_content{
        p{
            margin: 0;
        }
    }
    .client_fam .text_content{
        width: auto;
        min-width: 300px;
    }
    .client_fam {
        width: auto;
        min-height: 600px;
        height: 900px !important;
    }

    .text_content {
        min-height: 300px;
    }
    .client_fam {
        width: auto;
        min-height: 600px;
        height: 1000px !important;
    }
    .img_content{
        margin-bottom: 20px;
    }

.carts-block{
    justify-content: space-around;
}
.content-footer{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.foot_text{
    text-align: center;
}
    .slider__item {
        width: 800px!important;
        height: auto !important;

        min-height: 600px!important;
    }
    .slick-slider{
        padding: 0;
    }
.questions_content{
    min-width: auto;
}
.client_fam{
    width: 360px;
    display: flex;
    justify-content: center;
}
.slick-track{
    display: flex;
    justify-content: center;
}
.slick-active{
    display: flex;
    justify-content: center;
}
.client_fam{
    width: 100% !important;
    min-width: 300px;
    margin: 0 auto;
}
.accordeon{
    padding: 5px;
}
.title_content{
    font-size: 20px;
    padding: 15px 0px;
    }
    .content_acc{
    font-size: 14px;
    }
        
.client_fam{
    display: flex;
    flex-direction: column;
}
















    .service__text{
        span{
            display: block;
            padding: 0 15px;

            p{
                margin-top: 20px;
            }
        }
    }
    .advantage__text{
        font-size: 24px;
        justify-content: center;
        text-align: center;
        img{
            margin: 0 auto;
        }

    }
    .advantage__points,.service__points{
        justify-content: space-around;
    }
    .advantage_point_content{
        margin-top: 50px;
    }
    .img1{
        display: none;
    }
    .img2{
        display: block;
        margin-left: -20px;
    }
    .image-content img {
        // margin-left: 100px;
    }
    .main-content{
        display: flex;
        justify-content: space-between;
    }
    .image-content {
         margin-right: 0px; 
    }
    .main-text{
        margin-right: 0;
    font-weight: 500;
    font-size: 24px;
    }
}

@media screen and (max-width:640px){
    .questions-wrapper{
        padding: 10px 0;
    }
    .questions_content{
        margin-top: 10px;
    }
    .text_style_block{
        // color: #333333;
        // font-family: 'Rubik', sans-serif;
        font-size: 22px;
        font-weight: 500;
        // width: 100%;
    }

    .text-content{
            // margin-right: 15px;
            // padding-left: 15px;
            margin: 0 auto;
    }
    .wrapper_main-content{
        margin: 0px;
        width: 100%;
    }
    header{
        height: 60px;
    }
    .main-content{
        background-image: url('/images/dest/women-sm.jpg');
    }

    // .client_smoll{
    //     display: flex;
    // }
    .statui{
        padding: 115px 0;
        max-width: 1200px;
    margin: 0 auto;
    }
    .cart{
        max-width: 350px;
        min-height: 470px;
        margin-bottom: 50px;
        .img_block{
            max-width: 350px;
            max-height: 240px;
            margin-bottom: 30px;
            overflow: hidden;
        }
    }


    .client_smoll{
        .slick-slide{
            max-width: 400px;
        }
        .slick-list {
            height: auto!important;
        }


    }





    .content_answers{
        min-height: 400px;
    }
    .title_content{
        h3{
            width: 350px;
        }
    }
    .form-content_inputs .inp,button {
        max-width: 350px;
    }

    .form-content_inputs{
        margin: 0;
    }
    .form-content_inputs textarea.inp{
        width: 300px !important;
    }
    .questions_text h2{
        font-size: 28px;
    }
    .accordeon{
        max-width: 490px;
    }
    .title_content{
        font-size: 15px;
       
        }
        .content_acc{
        font-size: 13px;
        }
    .service__text{
        span{
            display: block;
            padding: 0 15px;
            font-size: 20px;
            p{
                margin-top: 20px;
                font-size: 16px;
            }
        }
    }
    .text-content{
        max-width: 360px;
    }
    .main-text{
        margin-right: 0;
    font-weight: 500;
    font-size: 24px;
        margin-top: 0;
    }
    .image-content {
        margin-top: -50px;
   }
   p.cool{
       font-weight: bold;
   }
   .main-text{
    font-weight: 500;
    margin-bottom: 30px;
   }
   .client .text_content p{
    // background-color: red;
    font-size: 15px;
    max-width: 380px;
    margin: 0 auto;
    text-align: left;
   }
   .img_content {
    margin-bottom: 0px;
}
.slick-track{
    display: flex;
    justify-content: center;
}
.slider__item {
    margin: 0 auto;
}
.client_fam{
    margin: 0 auto
}
}
.while{
    background-color: rgba(255, 255, 255, 0.7);
}
.info_map .client__text {
text-align: left;
}
@media screen and (max-width:539px){
    .advantage-content{
        margin-top: 30px;
    }
    .text_conf{
        padding: 0px 15px;
    }
    .service{
        margin-top: 30px;
    }
    .form-text{
        padding: 0px 15px;
    }
    .questions_content{
        display: flex;
    }
    .questions_content{
        justify-content: center;
        align-items: center;
    }
    .form-content_inputs {
        max-width: 380px;
        width: auto;
    }
    .text_style_block{
        padding: 0 15px;
    }
    .btn-cool{
        margin: 0 auto;
    }
    .main-text{
        margin-top: 40px;
    }
        .footer-cont{


            background-color: #fdfdfe;
            padding: 60px 0px;
    }
    .bottom_footer-cont{
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .info-foot{
        margin: 0px !important;
    }

    .content-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content_link{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .info_map h2{
    // background-color: rgba(255, 255, 255, 0.7);
    }
.location {
    // background-color: rgba(255, 255, 255, 0.7);

}
.info-foot{
    // background-color: rgba(255, 255, 255, 0.7);

}
    .info_map{
        // display: none;
        max-height: 500px;
        overflow: hidden;

    }
    .info_map h2 {
        margin-top: 0px;
        padding-top: 20px;
        margin-bottom: 0px;
    }
    .content_map{
        h2{
            font-size: 22px;
        }
        .client__text {
            padding-bottom: 210px;
        }
        .location_telf {
            font-size: 24px;
        }
        .location__inf{
            font-size: 14px;
        }
    }
    .location {
        p,a{
            margin-bottom: 10px;
        }
    }
    .bottom_info_text{
        flex-direction: column;
    }
    .info-foot{
        margin: 0;
    }
    .location_adr{
        font-size: 14px;
    }
    .text_style_block {
        // color: #333;
        // font-family: Rubik,sans-serif;
        font-size: 22px;
        // font-weight: bold;
        // text-align: center;
    }
    .content_answers{
        max-width: 360px;
    }
    .title_content h3 {
        width: 320px; 
    }
    .questions_text{
        img{
            width: 250px;
            margin-left: 0px;
        }
    }
    .questions_text h2{
        font-size: 20px;
    }
    .client_fam .text_content {
        width: 300px; 
        min-width: 300px;
    }
    textarea.inp {
        max-width: 350px;
        max-height: 180px;
        min-width: 350px;
        min-height: 180px;
    }
    .text-content{
        max-width: 360px;
    }
    .main-text{
        margin-right: 0;
        font-size: 24px;
    font-weight: 500;
    // margin-top: 0;
    }
    .image-content {
        margin-top: -50px;
   }
   p.cool{
       font-weight: bold;
   }
   .main-text{
    font-weight: 500;
    margin-bottom: 30px;
   }

//    ------------
.image-content img {
    margin-left: -150px;
}
}



@media screen and (max-width:430px){
    // ------- 2
    .text-content{
        max-width: 360px;
    }
    .main-text{
        margin-right: 0;
        font-size: 24px;
    font-weight: 500;
    // margin-top: 0;
    }
    .image-content {
        margin-top: -50px;
   }
   p.cool{
       font-weight: bold;
   }
   .main-text{
    font-weight: 500;
    margin-bottom: 30px;
   }

//    ------------
.image-content img {
    margin-left: -180px;
}
}

@media screen and (max-width:412px){
    .statui{
        padding: 50px 0;
        max-width: 1200px;
        margin: 0 auto;
    }
    .client__text {
        padding-bottom: 20px;
    }
    // 
    .slick-list {
         padding: 30px !important; 
    }
    .client_smoll{
        .slick-slide{
            max-width: 300px;
        }
        .slick-list {
            height: auto!important;
        }

        .slick-slide{
            margin: 0 10px;
        }
    }
    .text-content{
        max-width: 360px;
    }
    .main-text{
        margin-right: 0;
    font-weight: 500;
    font-size: 24px;
        // margin-top: 0;
    }
    .image-content {
        margin-top: -50px;
   }
   p.cool{
       font-weight: bold;
   }
   .main-text{
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 40px;
   }

//    ------------
.image-content img {
    margin-left: -220px;
}
}


.cli_text_item{
    padding: 15px;
    text-align: left;
    h2{
        color: #333333;
        font-family: 'Rubik', sans-serif;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .spels{
margin-bottom: 20px;
font-size: 14px;
font-weight: 400;
color: #7a7a7a;
font-size: 18px;
a{
    font-size: 18px;
font-weight: bold;
text-decoration: underline;
color: #36ab32;
}
    }
    p{
color: #7a7a7a;
font-size: 14px;
font-weight: 400;
    }
}
@media screen and (max-width:380px){

// ----------------
    .form-content_inputs .inp, button {
        max-width: 320px;
    }

    textarea.inp {
        max-width: 350px;
        max-height: 180px;
        min-width: 320px;
        min-height: 180px;
    }
    .slick-list .draggable{
        max-width: 320px !important;
        width: 320px !important;
    }
    
   
    .main-content{
        max-height: 380px;
    }
    .advantage__text {
        margin-bottom: 20px;
    }
    .img_info{
        margin-bottom: 0;
    }
    .inf_text{
        margin-bottom: 20px;
    }
    .advantage-content{
        padding-bottom: 0px;
    }
    .client_smoll .draggable {
        overflow: hidden;
        max-width: 330px;
        margin: 0 auto;
    }
    button {
        border: none;
        // position: absolute;
        margin-bottom: 0px;
        width: 380px;
        height: 60px;
        background-color: #dadada;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        width: 60px;
        height: 60px;

        // button {
            border: none;
            outline: 0;
            margin-bottom: 30px;
            width: 380px;
            height: 60px;
            background-color: #f4d00e;
            color: #fff;
            font-size: 18px;
            font-weight: 700;
        // }
    }
    .client_smoll{
    .slick-next{
        right: 1%;
        z-index: 3;
        bottom: 50%;
        margin-bottom: -30px;
    }
    .slick-prev{
        z-index: 3;
        left: 1%;
        bottom: 50%;
        margin-bottom: -30px;
    }}
}














